
.section-div {
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px;           
    background-color: #ffcece; 
}
  .section-choosing-div {
    border: 1px solid #ccc; 
    padding: 8px; 
    background-color: #b8e9ff; 
  }
  .selected-section-div {
    min-height: 50px;  
    border: 1px solid #ccc; 
    padding: 8px; 
    background-color: #ddffd6; 
  } 

.scheduled-takers-div {
  border: 1px solid #ccc; 
  padding: 8px; 
  background-color: #efffa6; 
}